.lable-fonts {
  font-size: $font-size-xs;
  font-family: $primary-font;
  font-weight: $font-weight-light;
}

.label-gender {
  @extend .lable-fonts;
  position: relative;
  top: 10px;
}

.label-checkbox {
  @include flex($align-items: center);
  gap: 6px;
  @extend .lable-fonts;
}
