@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
$primary-font: "Merriweather Sans", sans-serif;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 22px;
$font-size-xl: 24px;
$font-size-xxl: 26px;
