body {
  background-color: #082032;
  color: white;
  font-family: sans-serif;
}
.main-container {
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  height: 26.25rem;
  margin: 20px auto auto 500px;
}

.heading-container {
  width: auto;
  margin-left: 10px;
  /* height: 100px; */
}

.heading-container h1 {
  margin-bottom: 0;
}
.heading-container h2 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 14px;
}

.form-container {
  width: 100%;
  height: 400px;
}
.reg-form {
  padding: 3px;
  /* height: 300px;
  width: 100%; */
}
.input-container input {
  color: #687980;
  width: 95%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.input-container select {
  color: #687980;
  width: 95.5%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.gender-form-container {
  width: 18.75rem;
  height: 4.375rem;

  margin: 5px;
}
.gender-form-container p {
  display: inline-block;
}

.form-checkbox {
  margin-bottom: 10px;
}

#submit {
  background-color: #687980;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;

  padding: 8px 15px;
}

#submit:hover {
  background-color: #73838ab2;
}
